#App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input{
    margin-top: 6vh;
}

.flexrow{
    display: flex;
    justify-content: center;
}

.flexrow > * {
    margin: 0 3vw;
}

#word-definition{
    width: 90%;
    margin: 4vh auto;
}

@media (min-width: 800px){
    #word-definition{
        width: 60%;
    }
}

.monospace{
    font-family: monospace;
}

.part-of-speech > *{
    margin: 4vh 0
}

.part-of-speech ol {
    width: 90%;
    margin: auto;
}

p, em{
    line-height: 1.3;
    margin: 1.4px
}

button{
    background-color: #eee;
    padding: 4px;
    border-radius: 6px
}